<template>
    <div>
      <div>
        <el-table :data="list" stripe>
          <el-table-column prop="title" label="Title" style="width: 100%"/>
          <el-table-column prop="author" label="Author" style="width: 100%"/>
          <el-table-column prop="quantity" label="Available" style="width: fit-content"/>
          <el-table-column label="Operation">
            <template #default="scope" >
              <el-button type="success" plain @click="orderBook(scope.row)">Order</el-button>
              <el-button type="primary" plain @click="changeBook(scope.row)">Update</el-button>
              <el-button type="danger" plain @click="deleteBook(scope.row)">Delete</el-button>
            </template>
          </el-table-column>
        </el-table>
      </div> 
      <div>
            <el-dialog
                v-model="isShowUpdated"
                title="Edit information"
            >
                <span>Try to Edit this information</span>
                <el-form :model="active">
                    <el-form-item label="Title">
                        <el-input v-model="active.title" />
                    </el-form-item>
                    <el-form-item label="Author">
                        <el-input v-model="active.author" />
                    </el-form-item>
                    <el-form-item label="Number">
                        <el-input-number v-model="active.quantity" :min="1" :max="10"/>
                    </el-form-item>
                </el-form>
                <template #footer>
                <span class="dialog-footer">
                    <el-button @click="isShowUpdated = false" >Cancel</el-button>
                    <el-button type="primary" @click="confirmUpdateInformation">Confirm</el-button>

                </span>
                </template>
            </el-dialog>
        </div> 
        <div>
            <el-dialog
                v-model="isShowOrder"
                title="Order information"
            >
                <span>Order</span>
                <el-form :model="active">
                    <el-form-item label="Title">
                        <el-input v-model="active.title" />
                    </el-form-item>
                    <el-form-item label="Order">
                        <el-input-number v-model="active.quantity" :min="1" :max="10"/>
                    </el-form-item>
                </el-form>
                <template #footer>
                <span class="dialog-footer">
                    <el-button @click="isShowOrder = false" >Cancel</el-button>
                    <el-button type="primary" @click="confirmOrderInformation">Confirm</el-button>

                </span>
                </template>
            </el-dialog>
        </div> 
        <div>
            <el-button type="primary" plain @click="isShow = true"> Add </el-button>
        </div>
        <div>
            <el-dialog
                v-model="isShow"
                title="Add information"
            >
                <span>Edit this information</span>
                <el-form :model="active">
                    <el-form-item label="Title">
                        <el-input v-model="active.title" />
                    </el-form-item>
                    <el-form-item label="Author">
                        <el-input v-model="active.author" />
                    </el-form-item>
                    <el-form-item label="Number">
                        <el-input-number v-model="active.quantity" :min="1" :max="10"/>
                    </el-form-item>
                </el-form>
                <template #footer>
                <span class="dialog-footer">
                    <el-button @click="isShow = false" >Cancel</el-button>
                    <el-button type="primary" @click="confirmAddInformation">Confirm</el-button>

                </span>
                </template>
            </el-dialog>
        </div>       
    </div>
  </template>

  <!-- the code provides functionality to display, add, update, delete, and order books. 
    It utilizes the Element UI library (el-table, el-dialog, el-button, etc.) to create 
    a user-friendly interface for managing book data. -->
<script lang="ts">
import { reactive, toRefs, onMounted } from "vue";
import { getBooksWjwt, addBooksWjwt, delBooksWjwt, updateBooksWjwt, orderBooksWjwt } from "../request/api";
import { booksData, booksInt } from "../type/bookList";
export default {

    setup() {
        onMounted(() => {
            getBooksWjwt()
        });

        const data = reactive(new booksData());

        // const activeDialogTitle = computed(() => {
        //     return data.isAddDialog ? "Add a new book" : "Edit information";
        // });

        getBooksWjwt().then(res => {
            data.list = res.data.books

            // console.log(data.list)
        })

        const orderBook = (row: booksInt)=> {

            data.isShowOrder=true;
            data.active = {
                title: row.title,
                author: row.author,
                quantity: row.quantity
            }

        }

        const changeBook = (row: booksInt) => {
            data.isShowUpdated=true;
            data.active = {
                title: row.title,
                author: row.author,
                quantity: row.quantity
            }
            data.updateData.previous = {title: row.title}
        }

        const confirmOrderInformation = ()=>{
            console.log(data)
            data.isShowOrder=false;
            data.orderData.title = data.active.title;
            data.orderData.quantity=data.active.quantity
            orderBooksWjwt(data.orderData).then(res =>{
                data.list = res.data.context.books

            })

        }

        const deleteBook = (row: booksInt) => {
            data.delData.title = row.title
            delBooksWjwt(data.delData).then(res =>{
                data.list = res.data.context.ctx.books
            })
        }

        const confirmUpdateInformation = ()=>{
            data.isShowUpdated=false
            data.updateData.current = {
                title: data.active.title,
                author: data.active.author,
                quantity: data.active.quantity
            }
            console.log(data)
            
            updateBooksWjwt(data.updateData).then(res=>{
                data.list = res.data.context.books
                // console.log(data)
            })
        }

        const confirmAddInformation = () => {
            console.log(data.active)
            data.isShow=false
            addBooksWjwt(data.active).then(res => {
                data.list = res.data.context.books
                console.log(data)
            })
        }

        return { ...toRefs(data), onMounted, changeBook, confirmAddInformation, deleteBook, orderBook, confirmUpdateInformation, confirmOrderInformation }
    }

}
</script>
<style lang="scss" scoped></style>