<template>
    <div>
        <div>
        <el-table :data="list" stripe>
          <el-table-column prop="title" label="Title" style="width: 100%"/>
          <el-table-column prop="author" label="Author" style="width: 100%"/>
          <el-table-column prop="quantity" label="Available" style="width: fit-content"/>
          <el-table-column label="Order">
            <template #default="scope">
                <el-input-number v-model="scope.row.orderNum" :min="1" :max="10"/>
                <el-button type="success" plain @click="orderBook(scope.row)">Order</el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>         
      <div>
            <el-dialog
                v-model="isShowOrder"
                title="Order information"
            >
                <span>Order</span>
                <el-form :model="active">
                    <el-form-item>
                        <el-input v-model="active.title" />
                        <el-input v-model="active.author" />
                        <el-input-number v-model="active.quantity" :min="1" :max="10"/>
                    </el-form-item>
                </el-form>
                <template #footer>
                <span class="dialog-footer">
                    <el-button @click="isShowOrder = false" >Cancel</el-button>
                    <el-button type="primary" @click="confirmOrderInformation">Confirm</el-button>

                </span>
                </template>
            </el-dialog>
        </div> 
    </div>
</template>

<!-- the code implements a table of books with an "Order" functionality. 
    The user can select the quantity to order for each book and confirm the order in a dialog. 
    The book data is fetched from an API and displayed in the table, and ordering a book updates 
    the book list with the latest data. -->
<script lang="ts">
import { reactive, toRefs, onMounted } from "vue";
import { booksData, booksInt } from "../type/bookList";
import { getBooksWjwt, orderBooksWjwt } from "../request/api";
export default {
    setup(){

        onMounted(() => {
            getBooksWjwt()
        });

        const data = reactive(new booksData());

        getBooksWjwt().then(res => {
            data.list = res.data.books
            console.log(data.list)
        })

        const orderBook = (row: booksInt) => {

            data.isShowOrder = true;
            data.active = {
                title: row.title,
                author: row.author,
                quantity: row.orderNum
            }

        }

        const confirmOrderInformation = () =>{

            data.isShowOrder = false;
            data.orderData.title = data.active.title;
            data.orderData.quantity = data.active.quantity
            orderBooksWjwt(data.orderData).then(res=>{
                data.list =res.data.context.books
            })

        }

        return{...toRefs(data), onMounted, orderBook, confirmOrderInformation}
    }
    
}
</script>
<style lang="scss" scoped>
    
</style>