<template>
    <div class="common-layout">
    <el-container>
      <el-header>
        <el-row :gutter="20">
          <el-col :span="4"><img src="../assets/logo.png" class = "logo" /></el-col>
          <el-col :span="16"><h2>management system</h2></el-col>
          <el-col :span="2"> {{ userInfo.info }}</el-col>
          <el-col :span="2">
            <el-button type="primary" @click="delToken">Log out</el-button>
          </el-col>
      </el-row>
      </el-header>
    </el-container>
    <el-container>
      <el-aside>
        <el-menu
          router
          class="el-menu-vertical-demo"
        >
          <el-menu-item :index="item.path" v-for="item in list" :key="item.path">
            <span>{{ item.meta.title }}</span>
          </el-menu-item>
        </el-menu>
      </el-aside>
      <el-main>
        <RouterView>
          
        </RouterView>
      </el-main>
    </el-container>

  </div>

</template>

<!-- the code provides a common layout for a management system, including a header, a menu, and a main content area. 
  It integrates with Vue Router to render the appropriate components based on the current route. 
  The code also demonstrates the usage of a user information store and provides a logout functionality. -->

<script lang="ts">
import { defineComponent, onMounted } from 'vue';
import { useRouter,useRoute } from "vue-router";
// import { profile } from "../request/api";
// import { usersData } from "../type/userList";
import { useUsernameInfo } from "../store/UserInfo";

export default defineComponent({
  name: "HomeView",
  setup(){
    onMounted(async()=>{
      // await profile(),
      await userInfo.post()
    })
    const router = useRouter()
    const route = useRoute()
    // const user = reactive(new usersData())
    const userInfo = useUsernameInfo()

    // profile().then((res)=>{
    //   user.active = res.data.user
    // })

    const list = router.getRoutes().filter(v => v.meta.isshow)


    const delToken = ()=>{
      localStorage.removeItem('token')
      router.push('/login')
    }
    return{list, active:route.path,delToken,userInfo:userInfo}
  },
})

</script>


<style lang="scss" scoped>

.el-header{
  height: 80px;
  background-color: aqua;
  .logo{
  height: 80px;
}
h2,.quit{
  text-align: center;
  height: 80px;
  line-height: 80px;
}
}
.el-aside{
  .el-menu{
    height: calc(100vh - 80px);
  }
  width: 250px;

}

</style>
