<template>
    <div class="login-box">
        <el-form
        ref="ruleFormRef"
        :model="ruleForm"
        status-icon
        label-width="100px"
        class="demo-ruleForm"
        >
            <el-text class="mx-1" size="large"><h2>Login</h2></el-text>

            <el-form-item label="Username" prop="Username">
            <el-input v-model="ruleForm.username" type="text" autocomplete="off" />
            </el-form-item>
            
            <el-form-item label="Password" prop="Password">
            <el-input
                v-model="ruleForm.password"
                type="password"
                autocomplete="off"
            />
            </el-form-item>
            <span>
                <el-text class="mx-1" size="large"> No account </el-text>
                <el-link href="/register" target="primary"> here </el-link>
            </span>

            <el-form-item>
                <el-button type="primary" class= "login=btn" @click="submitForm(ruleFormRef)">Submit</el-button>
                <el-button  class= "login=btn" @click="resetForm">Reset</el-button>
                <span> 
                    <el-button class= "login=btn" @click="proceedasGuest">Proceed as a guest </el-button>
                </span>
            </el-form-item>
        </el-form>
    </div>

</template>

<!-- the code seems to be implementing a basic login form functionality using Vue.js and Element 
    Plus UI library, with form validation, form reset, and routing capabilities. -->

<script lang="ts">
import {  reactive,ref, toRefs } from "vue";
import { LoginData } from "../type/login";
import { FormInstance } from "element-plus";
import { login } from "../request/api";
import { useRouter } from "vue-router";
export default {
    setup(){
        const router = useRouter()

        const data = reactive(new LoginData())

        const ruleFormRef = ref<FormInstance>()

        const submitForm = (formEl: FormInstance | undefined)=>{
            if(!formEl) return;
            formEl.validate((valid)=>{
                if(valid){
                    // console.log("submit")
                    login(data.ruleForm).then((res)=>{
                        // console.log(res)
                        localStorage.setItem('token', res.data.accessToken);
                        router.push("/");
                    })

                }else{
                    console.log("error submit")
                    return false
                }
            })
        }

        const resetForm = ()=>{
            data.ruleForm.username="";
            data.ruleForm.password="";
        }

        const proceedasGuest = ()=>{
            router.push("/library")
        }
        
        return{...toRefs(data), resetForm, ruleFormRef, submitForm, proceedasGuest}
    }

}
</script>
<style lang="scss" scoped>
.login-box {
  width: 100%;
  height: 100%;
  background: url("../assets/Desert1.jpg");
  text-align: center;
  padding: 1px;
  .demo-ruleForm{
    width: 500px;
    margin: 200px auto;
    background: #ffffff;
    padding: 40px;
    border-radius: 5px;
  }
  .login-btn{
    width: 48%;
  }
  h2{
    margin-bottom: 20px;
  }
}

</style>