<template>
    <div class="register-box">
        <el-form
        ref="ruleFormRef"
        :model="ruleForm"
        status-icon
        label-width="100px"
        class="demo-ruleForm"
        >
            <el-text class="mx-1" size="large"><h2>register</h2></el-text>  

            <el-form-item label="Username" prop="Username">
            <el-input v-model="ruleForm.username" type="text" autocomplete="off" />
            </el-form-item>
            
            <el-form-item label="Password" prop="Password">
            <el-input
                v-model="ruleForm.password"
                type="password"
                autocomplete="off"
            />
            </el-form-item>

            <span>
                <el-text class="mx-1" size="large"> Already have an account  </el-text>
                <el-link href="/login" target="primary"> here </el-link>
            </span>

            <el-form-item>
            <el-button type="primary" class="register-btn" @click="submitForm(ruleFormRef)">Register new account</el-button>
            </el-form-item>
        </el-form>
    </div>
</template>

<!-- the code implements a basic registration form functionality using Vue.js and Element Plus UI library. 
  It allows users to enter a username and password and register a new account. Upon successful registration, 
  the user is redirected to the login page. -->
<script lang="ts">
import { reactive, ref, toRefs } from "vue";
import { LoginData } from "../type/login";
import { FormInstance } from "element-plus";
import { register } from "../request/api";
import { useRouter } from "vue-router";
export default {

  setup() {
        const router = useRouter()
        const data = reactive(new LoginData())

        const ruleFormRef = ref<FormInstance>()

        const submitForm = ( formEl: FormInstance | undefined)=>{
          if(!formEl) return;
          formEl.validate((valid)=>{
            if(valid){
              register(data.ruleForm).then((res)=>{
                console.log(res);
                router.push("/login")
              })
          }else{
            return false
          }
        })
    }
    return{ ...toRefs(data), ruleFormRef, submitForm}  
  }
}
</script>

<style lang="scss" scoped>
.register-box {
  width: 100%;
  height: 100%;
  background: url("../assets/Desert1.jpg");
  text-align: center;
  padding: 1px;
  .demo-ruleForm{
    width: 500px;
    margin: 200px auto;
    background: #ffffff;
    padding: 40px;
    border-radius: 5px;
  }
  .regsiter-btn{
    width: 48%;
  }
  h2{
    margin-bottom: 20px;
  }
}
  
</style>